$icomoon-font-path: "fonts" !default;

$icon-VectorSmartObject: "\e900";
$icon-VectorSmartObject1: "\e901";
$icon-VectorSmartObject2: "\e902";
$icon-VectorSmartObject3: "\e903";
$icon-VectorSmartObject4: "\e904";
$icon-VectorSmartObject5: "\e905";
$icon-VectorSmartObject6: "\e906";
$icon-VectorSmartObject7: "\e907";

